<h1>Create A New Project</h1>

<form action="/projects/new" method ="post">
  <input type="text" name="pattern_name" placeholder="name of pattern">
  <input type="text" name="yarn" placeholder="yarn">
  <input type="text" name="total_yardage" placeholder="total yardage">
  <input type="text" name="notes" placeholder="project notes">
   <input type="text" name="tag" placeholder="tag name">
      <input type="submit">
    </form>